<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="../Controller/logincheck.php" method="POST">
        <p>Username : <input type="text" name="username" placeholder="Username" required><br></p>
        <p>Password : <input type="password" name="password" placeholder="Password" required><br></p>
        
        <button type="submit">Login</button>
        <br>

        <P>Have not Registered Yet?</P><br>
        <a href="registration.html">Registration</a>
    </form>
</body>
</html>
